@media print {
  body {
    font-size: 12px;
    line-height: 1.4;
  }

  hr {
    display: none;
  }

  .icon {
    margin: 0;

    .label {
      margin-left: 4px;
    }
  }

  blockquote,
  div,
  img {
    page-break-inside: avoid !important;
  }

  a[href]:after {
    font-size: 12px !important;
  }

  @page {
    margin: .8cm;
  }

  .markdown-body {
    h2 {
      font-size: 1.2em !important;
    }

    h3 {
      font-size: 1em !important;
    }

    p {
      font-size: .8em;
    }

    blockquote {
      border-bottom: 0;
      border-left: .25em solid #ddd;
      border-right: 0;
      border-top: 0;
      color: #777;
      font-size: 1em;
      padding: 0 1em;

      h4 {
        font-size: .8em !important;
      }
    }
  }
}
