// Width variables
$small-phone: 424px;
$medium-phone: 460px;
$large-phone: 560px;
$tablet: 846px;
$large-tablet: 996px;

// Colours
$light-grey: #eee;
$grey: #e7e7e7;
$dark-grey: #ddd;
$heavy-grey: #777;
$black: #fff;
$light-black: rgba(0, 0, 0, .04);
